*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(225, 246, 246);
}
h1{
    font-size: 50px;
}
.header{
    background-image: linear-gradient(to bottom, rgba(3, 11, 52, 0.52), rgba(117, 19, 93, 0.73)), url(images/donation6.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    
    color: white;
}
.header-text{
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 70px;
    
}
.donate-now-button{
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    color: rgb(255, 250, 250);
    padding: 10px 20px;
    margin-left: 45%;
    width: fit-content;
    background-image: linear-gradient(tomato, orange);
    border-radius: 5px;
}
.donate-today-text{
    text-align: center;
    padding-bottom: 70px;
}
.donate-today-text h1{
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 900;
}
.donate-today-text p{
    margin-left: 20%;
    margin-right: 20%;
}
.donate-today-amount{
    display: flex;
    padding-left: 25%;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: gray;
    margin: auto;
}
#first-amount{
    padding: 10px 30px;
}
#second-amount{
    padding: 10px 30px;
}
#third-amount{
    padding: 10px 30px;
    border: 2px solid red;
    color: red;
    background-color: rgb(217, 155, 155);
    border-radius: 5px;
}
#fourth-amount{
    padding: 10px 30px;
}
#fifth-amount{
    padding: 10px 30px;
}
#donate-today-amount-input{
    display: inline;
    padding: 10px 100px;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    color: gray;
    box-shadow: 5px 5px 30px gray;
    
}
.donation-plan{
    margin-bottom: 5%;
}
.mission-text{
    text-align: center;
    margin-top: 100px;
}
.mission-text p{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 80px;
}
.mission-box{
    display: flex;
    justify-content: center;
   
}
.mission-icon{
    width: 300px;
    height: 250px;
    margin: 30px;
    padding: 20px;
   
}
.mission-icon h1{
    font-size: 30px;
}
.icon-background1{
    background-color: rgb(224, 237, 225);
}
.icon-background2{
    background-color: rgb(215, 234, 243);
}
.icon-background3{
    background-color: rgb(243, 207, 207);
}
.about-donation{
    display: flex;
    width: 80%;
    margin-bottom: 80px;
    
}
.donate-hospital{
    width: 50%;
    margin-left: 15%;
    margin-right: 10%;
    
}
.donate-hospital h1{
    font-size: 40px;
}
.donate-hospital p{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-photo{
    width: 600px;
    
    
}
#donate-here-button{
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 250, 250);
    padding: 10px 20px;
    background-image: linear-gradient(tomato, orange);
    border-radius: 5px;
   
} 
.subscribtion-section{
    text-align: center;
    margin-top: 100px;
}
.subscribtion-text h1{
    font-size: 40px;
}
.subscribtion-text p{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-bottom: 80px;
}
.input-bg{
    width: 50%;
    height: 200px;
    margin-left: 30%;
    margin-bottom:10% ;
    border-radius: 5px;
    background-color: rgb(254, 229, 198);
}
.input-bg-2{
    padding-top: 70px;
}
#email-subscription{
    border: none;
    font-size: 20px;
    padding: 10px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(81, 70, 70);
}
#subcribe-button{
    background-color: rgb(73, 73, 40);
    width: 120px;
    border: none;
    padding: 10px;
    color: rgb(240, 228, 228);
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -10px;
}
footer {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    margin-top: 80px;
    color: rgb(238, 242, 246);
    background: rgba(75, 59, 1, 0.808);
}